.text {
    /*чтобы можно было задать ширину высоту */
    /*которую нельзя задавать обычному спану*/
    /*будет вести себя как обычн спан но есть ш и выс*/
    display: inline-block;
    /*настройки чтобы кнопки не сдвигались вверх вниз*/
    /*когда спан меняется на инпут
    чтобы спан был размером с инпут */
    height: 60px;
    padding-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.img {
    height: 30px;
    margin: 2px;
}