.allItems{
    display: flex;
    align-items: start;
}

.input {
    color: #4830F0;
    padding:10px;
    border-radius:10px;
    font-size:20px;
    outline: none;
}

.errorInput {
    border: 1px solid red;
    padding:10px;
    border-radius:10px;

}
.error{
color: red;
    font-weight: bold;
}

.button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 15px 30px;
    margin: 0px 9px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;

}

.number{
    font-size: 27px;
    color: #4830F0;
    font-weight: bold;

}